@media (max-width: 768px){
    #container{
        flex-direction: column;
    }
    nav h3{
        padding: 20px 10px;
        margin: auto;
    }
    .menu{
        display: none;
    }
    #query-nav{
        display: block;
    }
    #query-nav ul{
        display: flex;
        z-index: 99;
        font-size: 40px;
        position: fixed;
        top: 50%;
        right: 5px;
        flex-direction: column;
        color: white;
        width: 5%;
    }
    body{
        padding-right: 15px;
    }
}
@media (min-width: 768px){
    body{
        height: 100vh;
    }
    main{
        overflow-x: hidden;
        position: relative;
        width: 500vw;
    }
    #container{
        flex-direction: row;
    }
    #menu{
        font-size: calc(0.5rem + 1vw);
    }
    #maintitle{
        padding: 0 0 0 50px;
    }
    #maintitle a:hover{
        text-shadow: 2px 2px 2px white;
        transition: all 0.25s;
    }
    #accueil a:hover{
        color: black;
        transform: scale(1.1);
        transition: transform 0.25s color 0.25s 0.25s;
    }
    #accueil a.active{
        animation: btnDown 0.5s ease;
    }
    #who img{
        display: block;
    }
    #who .whoIntro{
        display: flex;
        flex-direction: row;
    }
    .fav-skills{
        min-width: 60vw;
    }
    .fav-skills h3{
    margin: 20px 0;
    }
    .fav-skills div{
        flex-direction: row;
        justify-content: space-around;
    }
    .fav-skills div > div{
        width: 15%;
        flex-direction: column;
        justify-content: space-around;
    }
    .fav-skills div > div p{
        margin-left: 0;
    }
    .pro{
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
        margin-left: 50px;
    }
    .pro div{
        min-width: 150px;
        max-width: 250px;
    }
    .ripple {
        width: 0;
        height: 0;
        background-color: transparent;
        position: fixed;
        border-radius: 50%;
        border: 1px solid black;
      }
    .links a:hover{
        transform: translateY(-10px);
    }
    .availability img{
        display: none;
    }
}

@keyframes ripple-effect {
    to {
      width: 100px;
      height: 100px;
      opacity: 0.05;
      margin: -60px;
    }
}

@keyframes btnDown{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(1500px);
    }
}