section{
    animation: nav-load 1000ms ease-in-out;
}
header{
    animation: header-load 800ms ease-in-out;
}

@keyframes nav-load{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes header-load{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}