/*Global*/
@font-face {
    font-family: 'Sketchiqua';
    src: url('../font/Sketchiquad-4g1D.ttf') format('truetype');
}
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Callie Chalk Font', sans-serif;
}

body {
    font-family: "Roboto Slab", serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:#06c;
    background-image: linear-gradient(rgba(255,255,255,0.2) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,0.2) 2px, transparent 1px),
    linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.canSelect {
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
li{
    list-style: none;
}
strong{
    text-shadow: 2px 1px 1px black;
}
a{
    color: white;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.25s;
}
a:visited{
    text-transform: uppercase;

}
a:hover{
    text-shadow: 1px 1px 1px black;
    color: white;
    transition: all 0.25s;
}
a:focus{
    text-shadow: 1px 1px 1px black;
    color: white;
    transition: all 0.25s;
}
h3{
    border-bottom: 1px solid white;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    color: white;
    font-size: calc(1rem + 1.5vw) ;
}
/*Navbar*/
nav{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(0.5rem + 1vw);
    transition: 0.5s;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
#maintitle{
    border: none;
}
#maintitle a{
    font-size: calc(1.5rem + 0.5vw);
    color: black;
    font-family: 'Sketchiqua','Callie Chalk Font', sans-serif;
    transition: all 0.25s;
}
#query-nav{
    display: none;
}

/*Section*/

section{
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
}

section h2{
    font-size: calc(1.5rem + 1.5vw);
    padding: 1rem 0;
    color: white;
}

/*Accueil*/
#accueil{
    color: white;
}
#accueil span{
    font-size: calc(2rem + 1.5vw);
}
#accueil h3{
    text-align: center;
    width: 70%;
    font-size: calc(1rem + 1.5vw);
}
#accueil a{
    font-size: calc(1rem + 1vw);
    color: black;
    padding: 20px;
    background: white;
    border-radius: 10px;
    border: 1px solid black;
    transform: scale(1);
    transition: transform 0.25s color 0.25s;
}
/*Who*/
#who h3{
    color: black;
}
#who img{
    width: clamp(250px, 40%, 500px);
    border-radius: 100%;
}
#who .whoInfo, #who .whoIntro{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.6);
    text-justify: auto;
    font-size: calc(0.8rem + 1vw);
}
#who .whoIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*Skills*/
.skills-container{
    display: none;
}
.fav-skills img{
    width: clamp(80px, 30%, 100px);
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.fav-skills div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.fav-skills div > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    padding: 10px;
    gap: 20px;
}
.fav-skills div > div p{
    margin-left: 10px;
    font-size: calc(1rem + 1vw) ;
    color: white;
}

/*Contact*/
#contact{
    text-align: center;
    color: white;
}
#contact h3{
    padding: 10px 0;
    margin: 10px 0;
    font-size: calc(1rem + 1.5vw);
}
#contact > div{
    width: 90%;
}
#contact div{
    padding: 10px 0;
}
#contact img{
    margin-top: 10px;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.links a{
    padding: 0 10px;
}
.pro{
    display: flex;
    flex-direction: column;
}
.availability{
    font-size: calc(0.5rem + 1.5vw);
}
.available{
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 10px;
}
.notavailable{
    display: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: red;
    border-radius: 10px;
}
.handshake{
    transform: translateY(0);
    transition: 0.5s;
}
.handshake:hover{
    animation: handshakeMove 0.8s ease-in-out both infinite;
}
@keyframes handshakeMove{
    0%{
        transform: translateY(0);
    }
    33%{
        transform: translateY(-10px);
    }
    66%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}

/*Return to top btn*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: calc(0.5rem + 1.5vw);
    transition: 0.25s;
}

#myBtn:hover {
    background-color: #555;
    color: white;
    transition: 0.25s;
}