/* var */
/* mixin */
/* scss */
html {
  font-family: "Times New Roman";
  color: black;
  background-color: white;
  line-height: 1.1;
}
html li {
  list-style-type: none;
}
html a {
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(to right, #437CCD, #45D6CA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html a:visited {
  color: white;
}
html body {
  margin: 0px;
  width: 100%;
}
html body .mobile__top {
  display: none;
}
@media screen and (max-width: 40em) {
  html body .mobile__top {
    display: block;
    background-color: black;
    height: 5vh;
    width: 100%;
  }
}
html body header {
  display: block;
  position: fixed;
  height: 5em;
  width: 100vw;
  background-color: black;
  color: white;
  top: 0;
  opacity: 100%;
}
@media screen and (max-width: 40em) {
  html body header {
    display: none;
  }
}
html body header nav {
  display: block;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 40em) {
  html body header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
html body header nav .title {
  font-size: 2em;
  text-align: center;
}
@media screen and (min-width: 40em) {
  html body header nav .title {
    margin-left: 20px;
  }
}
html body header nav .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 40em) {
  html body header nav .navbar {
    margin-right: 20px;
  }
}
html body header nav .navbar a {
  font-size: 1.2em;
  min-width: 100px;
  padding: 10px;
}
@media screen and (min-width: 40em) {
  html body #scroller #one {
    margin-top: 5em;
  }
}
html body #scroller #one .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 40em) {
  html body #scroller #one .container {
    margin-top: 20px;
    gap: 20px;
  }
}
html body #scroller #one .container .primary-container {
  flex-basis: 50%;
  text-align: center;
  background: linear-gradient(to right, #437CCD, #45D6CA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html body #scroller #one .container .primary-container h1 {
  font-size: 2em;
  font-weight: lighter;
  margin: 0px;
}
@media screen and (min-width: 40em) {
  html body #scroller #one .container .primary-container h1 {
    font-size: 5em;
  }
}
html body #scroller #one .container .primary-container h2 {
  font-size: 1.5em;
  font-weight: lighter;
  border-bottom: 1px solid black;
  margin: 0px;
  padding-bottom: 5px;
}
@media screen and (min-width: 40em) {
  html body #scroller #one .container .primary-container h2 {
    font-size: 3em;
  }
}
@media screen and (min-width: 40em) {
  html body #scroller #one .container .primary-container p {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
html body #scroller #one .container .primary-container .container__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body #scroller #one .container img {
  max-width: 500px;
  min-width: 300px;
  height: auto;
  border-radius: 300px;
}
@media screen and (max-width: 1024px) {
  html body #scroller #one .container img {
    max-width: 350px;
  }
}
html body #scroller #two {
  background-color: grey;
}
html body #scroller #three {
  background-color: white;
}
html body #scroller #four {
  background-color: grey;
}
html body #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
html body #myBtn:hover {
  background-color: #555;
}
html body footer {
  display: none;
}
@media screen and (max-width: 40em) {
  html body footer {
    display: block;
    background-color: black;
    height: 5vh;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
