/* var */
$main-color: #00539C;
$bg-color: #FBEAEB;

/* mixin */
@mixin flex-mixin{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* scss */
html{
    font-family: "Times New Roman";
    color: $main-color;
    background-color: $bg-color;
    line-height: 1.1;
    body{
        margin: 0px;
        width: 100%;
        header{
            display: block;
            position: fixed;
            height: 5em;
            width: 100%;
            margin: auto;
            background-color: $bg-color;
            color: $main-color;
            top: 0;
            opacity: 100%;
            nav{
                display: block;
                @media screen and (min-width: 40em){
                    @include flex-mixin;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                height: 100%;
                width: 100%;
                border: 1px solid black;
                .title{
                    font-size: 2em;
                    text-align: center;
                    @media screen and (min-width: 40em){
                        margin-left: 20px;
                    }
                }
                .navbar{
                    @include flex-mixin;
                    flex-basis: 25%;
                    justify-content: space-around;
                    margin: auto;
                    @media screen and (min-width: 40em){
                        margin-right: 20px;
                    }
                    a{
                        min-width: 100px;
                        padding: 10px;
                    }
                }
            }
        }
        #scroller{
            #one{
                margin-top: 5em;
                .container{
                    @include flex-mixin;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    height: 50%;
                    width: 100%;
                    gap: 20px;
                    padding: 1em;
                    .primary-container{
                        flex-basis: 50%;
                        text-align:center;
                        h1{
                            font-size: 5em;
                            text-shadow: 5px 5px 3px $main-color;
                            -webkit-text-stroke: 1px black;
                            font-weight:lighter;
                            margin: 0px;
                        }
                        h2{
                            font-size: 3em;
                            font-weight:lighter;
                            border-bottom: 1px solid $main-color;
                            margin: 0px;
                            padding-bottom: 5px;
                        }
                        p{
                            margin-top: 5px;
                            margin-bottom: 0px;
                            font-size: 1.5em;
                        }
                        .container__item{
                            @include flex-mixin;
        
                        }
                    }
                    .secondary-container{
                        img{
                            @media screen and (max-width: 40em){
                                max-width: 300px;
                                max-height: 300px;
                            } 
                            border-radius: 300px;
                        }
                    }
                }
            }
        }
        footer{
            padding: 1em;
            background-color: grey;
            flex-basis: 100%;
        }
    }
}


li{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-weight: bold;
}








